/*ESTILOS GENERALES*/
body{font-family: 'Gill Sans', sans-serif; -webkit-font-smoothing: antialiased; font-weight: 100; color: #808080; line-height: 30px;}
a{cursor: pointer;color: #ffffff;}
a:hover, a:focus, a:active, a:visited{text-decoration: none;outline: 0; box-shadow: none;color: #ffffff;}
strong{font-weight: 400;}
b{font-weight: 600;}
section{padding:40px 0;}
#tituloConocimientos {padding: 0px 0px; }
section.Carrusel {padding: 0; }
li{list-style-type: none;}
i.fa.fa-check{color: #ffaf04}
.carousel-control.right, .carousel-control.left{background-image: none;}
.row form{display: block; text-align: center; margin: 0 auto;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFFFFF !important; }
.navbar-default .navbar-toggle {background-color: #3BA3D8 !important; }
.navbar-default .navbar-toggle:hover {background-color: #FFFFFF !important; }
.navbar-default .navbar-toggle:hover .icon-bar {background-color: #3BA3D8 !important; }
.navbar-fixed-top {background-color: rgb(53, 157, 208) !important; position: fixed !important; opacity: 0.9;min-height: 35px;}
nav.navbar {transition: all 1.2s ease; }
.navbar-fixed-gone{top:-100px; position: fixed !important;}
.container {width: 900px !important;}

/*MENU*/
header{position: relative;}
.navbar-brand {float: inherit; height: auto; padding: 5px 15px; display: inline-block; }
#exitoMenu {position: absolute; z-index: 1; width: 100%; background-color: transparent; border: 0; /*border-bottom: 1px solid rgba(255,255,255,0.2);*/ }
.navbar-nav>li>a {padding-top: 37px; padding-bottom: 30px; }
.navbar-default .navbar-nav>li>a {color: #FFFFFF; text-transform: uppercase; letter-spacing: 0; font-weight: 400; }
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active {color: #ffaf04; }

/*CARRUSEL INICIO*/
.carousel-control.right, .carousel-control.left {z-index: 10;}
.sliderForm {position: absolute; top: 0px; width: 100%;box-shadow: inset 1px 1px 1px 1000px rgba(0, 137, 206, 0.8);}

/*Bootstrap*/
.panel-default>.panel-heading+.panel-collapse>.panel-body {font-size: 17px; } .panel{border: none;}
.panel-default>.panel-heading {background-color: #F2F2F2; }
.panel-title span {background-color: #FFAF04; width: 25px; height: 25px; border-radius: 50%; display: inline-block; text-align: center; padding-top: 4px; margin-right: 10px; color: #fff; }
.form-control {margin-bottom: 15px;border-radius: 0px; box-shadow: none; height: 47px;font-size: 20px;}
#Name2, #Email2 {height: 40px; font-size: 17px; margin-top: 13px;}

iframe.videoYoutube{width: 100%;height: 236px;}

/*TÍTULOS*/
h1, h2, h3, h4, h5, h6{font-weight: 600;text-transform: uppercase; }
h1{color: #FFFFFF; font-size: 65px;;text-align: center;}
h2{font-size: 35px;text-align: center;}
h3{font-size: 18px;color: #808080;}
h4{color: #ffaf04; font-size: 20px; }

.textCenter{text-align: center;}
.textCenterExitoso{color: #0089ce;font-size: 30px;text-align: center;}
.textCenterSize{text-align: left;font-size: 17px; font-weight: 100;}
.textCenterForm{text-align: center;font-size: 24px; color:#ffffff;text-align: left;}
.textSatisfaction{font-weight: 600; font-size: 18px;}

/*COLORES FUENTES*/
.yellowFont{color: #ffaf04;}
.yellowFontPro{color: #ffaf04; font-weight: 600;}
.yellowFontYa{color: #ffaf04; font-size: 75px;}
.yellowFontComienza {color: #ffaf04; font-weight: 600; font-size: 35px;text-transform: none; margin-top: 65px;}
.yellowFontQuieres{text-transform: none;color: #ffaf04;font-weight: 100;}
.yellowFontCarlos{color: #ffaf04;text-transform: capitalize;text-align: left;}
.tituloInmobil {font-size: 50px; }
.whiteFont{color: #FFFFFF}
.whiteFontAparta{color: #FFFFFF; font-size: 40px;line-height: 1.1;}
.whiteFontBegin{font-size: 32px; text-align: center; text-transform: none; color: #FFFFFF;line-height: 0.3;}
.whiteFontFree{font-size: 22px; text-align: center; text-transform: none; color: #FFFFFF;}
.whiteFontFreedom{font-size: 30px; text-align: center; text-transform: none; color: #FFFFFF;}
li.whiteFont {font-size: 20px; }
.blackFont{font-size: 20px; text-align: center; color: #6D6060;line-height: 1.2;}
.blackFontSpan{font-weight: 600;color: #ffffff;padding-top: 95px;}
.blackFontRecover{font-size: 38px; text-transform: none;margin-top: 100px;}
.blackFontSell{font-weight: 100;}
.blueFont{color: #0089ce;}
.blueSpan{font-weight: 600;}
.whiteSpan{color: #ffffff;font-weight: 600;}
.experienceFont{font-size: 25px;}
.trainingFont{color: #ffaf04;text-align: center;font-size: 25px;}
.trainingSize{font-size: 17px;text-align: center;}
.trainingStrong{font-weight: 600; font-size: 30px;text-align: center;display: block;}
.trainingCap{text-transform: capitalize;font-weight: 600; font-size: 30px;text-align: center;display: block;}
.objetivoFont{font-size: 23px;text-align: center;margin-top: 25px;}
.unicoFont{text-align: center; font-size: 22px; font-weight: 400;}

/*COLORES FONDO*/
.yellowBg{background-color: #ffaf04;color: #FFFFFF;padding-top: 65px;}
/*.yellowBg h2{color: #FFFFFF;}*/
/*.blueBg{background-color: #0089ce;}*/
.beneficiosBg{background:url('../img/banner.jpg') center center no-repeat;box-shadow: inset 1px 1px 1px 1000px rgba(0, 137, 206, 0.8);background-size: cover;}
.whiteBg{background-color: #FFFFFF;}
.brownBg{background:url('../img/auditorio.jpg') center center no-repeat;box-shadow: inset 1px 1px 1px 1000px rgba(206, 162, 0, 0.8);background-size: cover;padding: 100px;}
.blueBg{box-shadow: inset 1px 1px 1px 1000px rgba(0, 137, 206, 0.8);}
.blueBg img {margin-top: -226px; }
.lightGreyBg .container{background-color: #FFFFFF;padding: 35px 0px;margin-top: -40px;margin-bottom: -40px;}
.lightGreyBg{background-color: #f2f2f2;}
#tituloConocimientos img{margin-bottom: -33px; max-width: 518px; width: 103%;}
#carlosNava img {width: 100% !important; max-width: 450px !important; border-radius: 50% !important; }
.lightGreyBg h2 {padding-bottom: 24px; }
.panel-title {font-size: 22px; }
.transformar{text-transform: uppercase;}
.transformarh1{text-transform: uppercase;text-align: right;border-right: 1px solid; padding-right: 35px;margin-top: 85px;}
.antiTransform{text-transform: none;}

/*BOTÓN*/
.greenButton{background-color: #a3db63; color: #FFFFFF; text-transform: uppercase; padding: 6px 73px; font-size: 24px; border-radius: 0; font-weight: 600; display: block; margin: 0 auto; }
.greenButton:hover, .greenButtonDos:hover{background-color: #FFFFFF; color: #a3db63;}
.blueButton{background-color: deepskyblue; color: #ffffff; font-size: 24px; padding: 8px 59px;border-radius: 0;margin-top: 20px;}
.blueButton:hover, .blueButtonDos:hover{color: deepskyblue;background-color: #ffffff;}
.yellowButton{color: #ffffff; background-color: #FFAF04; font-size: 22px; font-weight: 600; border-radius: 0; padding: 9px 43px;}
.yellowButton:hover{color: #FFAF04; background-color: #FFFFFF;}
.greenButtonDos{background-color: #a3db63; color: #FFFFFF; text-transform: uppercase; padding: 6px 73px; font-size: 22px; border-radius: 0; font-weight: 600; display: block;margin: 0 auto;}
.blueButtonDos{background-color: deepskyblue; color: white; font-size: 24px; padding: 8px 59px; border-radius: 0; padding-right: 24px; margin-top: 35px;}

/*FOOTER*/
footer{background-color: deepskyblue;color: #FFFFFF;padding: 30px 40px;}
footer .text-left{border-left: 1px solid #FFFFFF;font-size: 18px;}
footer .text-right{font-size: 18px;}

/*MEDIA QUERIES*/

@media (min-width: 852px){
#Informacion {margin-right: 120px !important; }
}

@media (max-width: 1200px){
.container {width: 900px !important;}
.sliderExito img {max-width: inherit !important; width: 120% !important; }
}

@media (max-width: 1024px){
.sliderForm {top: 23px;}
.btn-default:hover {color: #A3DB63; background-color: #FFFFFF;}
form .container {width: 970px; }
.sliderExito img {max-width: inherit; width: 100%; }
.container {width: 900px !important;}
}

@media (max-width: 990px){
.sliderExito img {width: 190%; max-width: inherit !important; }
a.navbar-brand{height: 0px;}
.container {width: 768px;}
.navbar-nav>li>a {padding-top: 15px; }
h1 {font-size: 28px; }
.navbar-brand>img {height: 53px; }
.sliderForm {top: -6px; }
.textCenterForm {font-size: 21px; }
.greenButton {font-size: 16px; }
.carousel-indicators li{display: none;}
.container {width: 768px !important;}
}

@media (max-width: 767px){
.sliderExito img {width: 180%; max-width: inherit !important; }
.navbar-brand {height: 0;background-color: green !important;}
.container {width: 600px; }
.sliderForm {position: initial; background-color: #3BA3D8; }
section.Carrusel {display: none; }
.navbar-nav {background-color: #3BA3D8; font-size: 18px; }
.container {width: 601px !important;}
}

@media(max-width: 600px){
	.container {width: 480px !important;}
	.sliderForm {background-color: #3BA3D8;}
	.navbar-nav {background-color: #3BA3D8; font-size: 18px; }
}

@media (max-width: 480px){
	.container {width: 400px !important; }
	.sliderForm {background-color: #3BA3D8;}
	#Knowledge {font-size: 32px; }
	h2 {font-size: 29px; }
	.navbar-nav {background-color: #3BA3D8; font-size: 18px; }
	.navbar-default .navbar-nav>li>a {padding-bottom: 40px; }
}

@media(max-width: 320px){
	.container {width: 320px !important; }
	h2 {font-size: 25px; }
	#Knowledge {font-size: 28px; }
	.blueBg {background: none;}
	.navbar-nav {background-color: #3BA3D8; font-size: 18px; }
}